:root {
  --thunder: #484847;
}

section{
  min-height: 100vh;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
}

/* WELCOME */

/* END WELCOME */


/* HOME */

/* END HOME */


/* COUPLE */

/* END COUPLE */


/* EVENT */

/* END EVENT */


/* LOCATION */

/* END LOCATION */


/* WISHES */

/* END WISHES */


/* NAVBAR */

/* END NAVBAR */